<p><span id="token" style="visibility:hidden"><%=token%></span></p>
<h2>Credit Card Details</h2>

<form class="form-horizontal carddetails" role="form" id="carddetails">
<div class="form-group">
    <label class="control-label col-sm-2" for="amount">Amount</label>
    <div class="col-sm-2">
      <input type="number" class="form-control" id="amount" value="50">
    </div>
  </div>
  
<div class="form-group">
    <label class="control-label col-sm-2" for="currency">Currency</label>
    <div class="col-sm-2">
      <input type="text" name="currency" class="form-control" id="currency" value="USD">
    </div>
  </div>
  
<div class="form-group">
    <label class="control-label col-sm-2" for="cardnumber">Credit Card Number</label>
    <div class="col-sm-4">
      <input type="text" name="customerid" id="cardnumber" value="4000000000000077" class="card-number form-control">
    </div>
  </div>

<div class="form-group">
    <label class="control-label col-sm-2" for="cvc">CVC</label>
    <div class="col-sm-2">
      <input type="text" name="CVC" id="cardnumber" value="190" class="card-cvc form-control">
    </div>
  </div>
  
<div class="form-group">
    <label class="control-label col-sm-2" for="card-expiry-month">Expiry Month</label>
    <div class="col-sm-2">
      <input type="number" name="card-expiry-month" id="card-expiry-month" value="01" class="card-expiry-month form-control">
    </div>
  </div>
  
<div class="form-group">
    <label class="control-label col-sm-2" for="card-expiry-year">Expiry Year</label>
    <div class="col-sm-2">
      <input type="number" name="card-expiry-year" id="card-expiry-year" value="2017" class="card-expiry-year form-control">
    </div>
  </div>
  

<div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-4">
      <button type="button" class="btn btn-primary submittransaction" id="submittransaction">Make Payment</button>
    </div>
  </div>
  

</form>

<p class="payment-errors"></p>